@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #1F2937;
}

/********************** HERO ************************/

.hero {
    align-items: center;
    padding: 8px;
    max-width: auto;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}


.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px 10px;
    margin: 0px;
    gap: 100px
} 

.links > ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.pucu {
    max-width: 500px;
    flex: 1 1 300px;
    text-align: start;
    align-self: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.pucu > .main-text {
    color: white;
    
}

.pucu.picture {
    max-width: 500px;
    flex: 1 1 200px;
}

/********************** PICTURES *************************/

.information {
    background-color: white;
}

.information > .header {
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.illustrations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 75px 0px 100px 0px;
}

.picture > img {
    border: 8px solid #1F2937;
    border-radius: 50px;
}

.picture {
    text-align: center;
    max-width: 250px;
    padding: 0;
}

.picture > p {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

/********************** QUOTE *************************/

.quote {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 25px;
    flex-wrap: wrap;
    min-height: fit-content;
}

.quote > .text {
    display: flex;
    font-style: italic;
    text-align: left;
    font-size: larger;
    font-weight: lighter;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
    max-width: 600px;
}

.text > .author {
    font-style: normal;
    font-weight: bold;
    font-size: medium;
    text-align: end;
}

/********************** WRAPUP *************************/

.wrapup {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
}



.wrapup > .container {
    display: flex;
    color: white;
    text-align: left;
    padding: 10px;
    width: 1000px;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 10px;
    align-items: center;
}


.container > .left {
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.right > button {
    border: 3px solid white;
}

/********************** FOOTER *************************/

.footer {
    color: white;
    padding: 10px;
    text-align: center;
}



button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

/********************** GLOBAL *************************/

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 50px;
}
